@charset "UTF-8";

*{
	font-family: Verdana, Geneva, sans-serif;
	vertical-align: middle;
	
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

.large{
	width: 98%;
}