@charset "UTF-8";

*{
	font-family: Verdana, Geneva, sans-serif;
	vertical-align: middle;
	
}

table {
	border-collapse: collapse;
	width: 100%;
}

table, thead, td {
   border: 1px solid grey;
}

thead td {
	font-weight: bold;
	text-align: center;
}

thead {
	background-color: rgb(255, 80, 80);
}

tr:nth-child(even) {
	background-color: #f2f2f2
}

.large{
	width: 98%;
}

#loader {
	border: 3px solid #f3f3f3;
	border-radius: 50%;
	border-top: 3px solid #3498db;
	width: 10px;
	height: 10px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}